@font-face {
	font-family: 'Rhapsody';
	src: url('../fonts/OTRhapsody.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}


h1 {
	font-family: 'Rhapsody', sans-serif;
	font-size: 20vh;
}