@font-face {
  font-family: 'Rhapsody';
  src: url('Softness/font/OTRhapsody.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


h1 {
	font-family: 'Rhapsody';
	font-size: 20vh;
}